* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

table {
  display: flex;
  justify-content: center;
}

table .tt {
  width: 860px;
}

tr th {
  border: 2px solid gray;
  padding: 8px;
  font-size: 20px;
}

.bt td {
  border: 2px solid gray;
}

.song_id {
  padding-top: 20px;
  text-align: center;
  vertical-align: text-top;
  font-size: 20px;
  font-weight: 500;
}

.song_tab {
  padding: 10px 0px;
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: #4ea4dd;
}
.bt img {
  padding-top: 20px;
  width: 75%;
  margin: auto;
}

.bt a{
  text-decoration: none;
  font-size: 30px;
  color: #4ea4dd;
}

.bt a:hover{
  text-decoration: underline;
}

.song_details {
  padding: 20px 10px;
  text-align: center;
  vertical-align: text-top;
  font-weight: 500;
  font-size: 19px;
}

p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 22px;
  width: 200px;
  color: white;
  background-color: #4ea4dd;
  transition: 0.4s;
}

.btn:hover {
  color: black;
  background-color: #66ccff;
  cursor: pointer;
}

.main {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 90px;
  background-color: gainsboro;
}

.main input[type="search"] {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  width: 300px;
  height: 28px;
}

.main input[type="submit"] {
  padding: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.main input[type="submit"]:hover {
  cursor: pointer;
}

.main a {
  border: 2px solid black;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 56px;
  background-color: #4ea4dd;
  color: white;
  transition: 0.4s;
}

.main a:hover {
  background-color: #66ccff;
  color: black;
  cursor: pointer;
}

.main p {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top: 130px;
  right: 460px;
}

.main span {
  position: absolute;
  top: 190px;
  left: 560px;
  font-size: 18px;
  font-weight: 500;
}

.main-b{
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}

.main-b a {
  border: 2px solid black;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4ea4dd;
  color: white;
  transition: 0.4s;
}

.main-b a:hover {
  background-color: #66ccff;
  color: black;
  cursor: pointer;
}